@using Havit.Distiller.Shared
@page "/kendotabstrip"
@inject HttpClient Http
@using Kendo.Blazor.Components.TabStrip

<h1>Hello, world!</h1>
<select bind=@tabPosition>
	<option value=@KendoTabPosition.Top>Top</option>
	<option value=@KendoTabPosition.Left>Left</option>
	<option value=@KendoTabPosition.Right>Right</option>
	<option value=@KendoTabPosition.Bottom>Bottom</option>
</select>

<KendoTabStrip TabPosition=@tabPosition>
	<KendoTab Title="Sofia">
		<h2>22<span>ºC</span></h2>
		<p>Sunny weather in Sofia</p>
	</KendoTab>
	<KendoTab Title="New York">
		<h2>24<span>ºC</span></h2>
		<p>Partly Cloudy weather in New York</p>
	</KendoTab>
	<KendoTab Title="Paris">
		<h2>21<span>ºC</span></h2>
		<p>Rainy weather in Paris</p>
	</KendoTab>
</KendoTabStrip>

@functions {
KendoTabPosition tabPosition = KendoTabPosition.Top;
}